# adapted from https://github.com/containers/container-selinux/blob/v2.143.0/container.if#L484
interface(`rke2_filetrans_named_content',`

    gen_require(`
        type container_file_t;
        type container_log_t;
        type container_runtime_exec_t;
        type container_runtime_tmpfs_t;
        type container_share_t;
        type container_var_lib_t;
        type container_var_run_t;
        type var_lib_t;
    ')

    container_filetrans_named_content($1)
    files_pid_filetrans($1, container_var_run_t, dir, "rke2")
    filetrans_pattern($1, container_var_lib_t, container_runtime_exec_t, dir, "data")
    filetrans_pattern($1, container_var_lib_t, container_share_t, dir, "sandboxes")
    filetrans_pattern($1, container_var_lib_t, container_share_t, dir, "snapshots")
    filetrans_pattern($1, container_var_lib_t, container_file_t, dir, "pods")
    filetrans_pattern($1, container_var_run_t, container_runtime_tmpfs_t, dir, "shm")
    filetrans_pattern($1, var_lib_t, container_var_lib_t, dir, "kubelet")
    filetrans_pattern($1, var_log_t, container_log_t, dir, "pods")
    filetrans_pattern($1, var_log_t, container_log_t, dir, "containers")

')
