# adapted from https://github.com/containers/container-selinux/blob/v2.143.0/container.if#L484
interface(`rke2_filetrans_named_content',`

    gen_require(`
        type container_config_t;
        type container_file_t;
        type container_log_t;
        type container_runtime_exec_t;
        type container_runtime_tmpfs_t;
        type container_share_t;
        type container_var_lib_t;
        type container_var_run_t;
        type var_lib_t;
        type var_log_t;
        type rke2_tls_t;
    ')

    #container_filetrans_named_content($1)
    files_pid_filetrans($1, container_var_run_t, dir, "rke2")
    filetrans_pattern($1, container_var_lib_t, container_runtime_exec_t, dir, "data")
    filetrans_pattern($1, container_runtime_exec_t, container_config_t, dir, "charts")
    filetrans_pattern($1, container_var_lib_t, container_share_t, dir, "snapshots")
    filetrans_pattern($1, container_var_lib_t, container_file_t, dir, "pods")
    filetrans_pattern($1, container_var_run_t, container_runtime_tmpfs_t, dir, "shm")
    filetrans_pattern($1, var_lib_t, container_var_lib_t, dir, "kubelet")
    filetrans_pattern($1, var_log_t, container_log_t, dir, "pods")
    filetrans_pattern($1, var_log_t, container_log_t, dir, "containers")
    filetrans_pattern($1, container_var_lib_t, container_log_t, dir, "logs")
    filetrans_pattern($1, container_var_lib_t, rke2_tls_t, dir, "tls")
')

template(`rke2_service_domain_template',`
    container_domain_template($1, container)
    virt_sandbox_domain($1_t)

    gen_require(`
        attribute container_domain, container_net_domain;
        attribute sandbox_net_domain;
    ')
    typeattribute $1_t container_domain, container_net_domain, sandbox_net_domain;

    virt_default_capabilities($1_t)
    kernel_read_messages($1_t)
    logging_send_syslog_msg($1_t)

    corenet_unconfined($1_t)
    corenet_tcp_bind_generic_node($1_t)
    corenet_udp_bind_generic_node($1_t)
    corenet_raw_bind_generic_node($1_t)
    corenet_tcp_sendrecv_all_ports($1_t)
    corenet_udp_sendrecv_all_ports($1_t)
    corenet_udp_bind_all_ports($1_t)
    corenet_tcp_bind_all_ports($1_t)
    corenet_tcp_connect_all_ports($1_t)

    miscfiles_read_all_certs($1_t)

    admin_pattern($1_t, container_log_t)
    admin_pattern($1_t, rke2_tls_t)
')
